    <div class="container">

        <h1>
            Welcome to Project Prometheus Citizen...
        </h1>

        <img src="https://img.webme.com/pic/s/southernstar/alien76.gif" alt="Flying Saucer" style="width:200px;height:150px;">

        <div class="jumbotron">
            <h2>Search Paranormal Activity</h2>
            <p>You can search our database for UFO activity all around the world.</p>

            <input type="email" class="form-control" id="inputEmail3" placeholder="Search our out-of-this world database">
            <hr>
            <p><a class="btn btn-danger btn-lg" href="#" role="button"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Engage</a></p>
        </div>
    </div>

